<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Retourenbericht.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
    <userSettings>
        <Retourenbericht.My.MySettings>
            <setting name="SortierListeFilialen" serializeAs="String">
                <value />
            </setting>
            <setting name="SortierlisteFilialenStandard" serializeAs="String">
                <value>"815; 830; 850; 855; 860; 420; 285; 365; 425; 205; 315; 460; 465; 215; 230; 295; 740; 390; 360; 350; 265; 250; 411; 395; 200; 195; 210; 300; 490; 430; 705; 750; 755; 401; 345; 310; 735; 405; 280; 435; 455; 445; 240; 190; 725; 785; 340; 370; 235; 180; 775; 780; 225; 270; 255; 245; 730; 220; 320; 325; 335; 375; 770; 305</value>
            </setting>
        </Retourenbericht.My.MySettings>
    </userSettings>
</configuration>
